//global

.home-widget {
  padding-top: 50px;
  background-color: white;

}

//links
.info-card{
  position: relative;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.info-card:hover .orderOnline{
  margin: -10px 0 0;
  transition: .5s ease;
  text-decoration: none;
  color: pink;
}

.orderOnline {
  text-decoration: none;
  color: white;
  font-size: large;
  transition: .5s ease;
  margin: 0;
}

.info-card:hover .hover-text{
  opacity: 1;
  transition: .5s ease;
  margin: 0;
}

.hover-text{
  color: white;
  opacity: 0;
  transition: .5s ease-in-out;
  margin: 10px 0 0 ;
}

.bookAtable {
  text-decoration: none;
  color: white;
  font-size: large;
  transition: .5s ease;
}

.info-card:hover .bookAtable{
  position: absolute;
  top: -20px;
  left: -10px;
  width: 120px;
  transition: .5s ease;
  text-decoration: none;
  color: pink;
}

.info {
  background-color: palevioletred;
  color: white;
  height: 150px;
}

// carousel

* { box-sizing: border-box; }

.main-carousel {
  background: #FAFAFA;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 250px; /* height of carousel */
  margin-right: 10px;
  margin-left: 10px;
  background: white;
}

.carousel-cell-image {
  float: left;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-text {
  background: white;
  padding-left: 20px;
  margin-top: 20px;
}

//gallery

.gallery .heart {
  color: white;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.gallery:hover .heart {
  color: red;
  opacity: 1;
}

.gallery .share  {
  color: white;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.gallery:hover .share  {
  color: red;
  opacity: 1;
}

.gallery:hover img {
  opacity: 0.3;
  transition: all 0.5s ease-in-out;
}

.seeMore{
  color: red;
  padding-bottom: 50px;
}
